<div class="body">
  <div class= "login">
    <img class="imag-login" src="https://img.icons8.com/dusk/100/000000/rockstar.png">
    <h1>Login</h1>

    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Usuario </mat-label>
      <input matInput autocomplete="off">
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input autocomplete="off" matInput>
    </mat-form-field>
    <br>
    <button class="ancho button" mat-raised-button color="primary">Ingresar</button>
  </div>
</div>
