.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.925);
}
.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
  padding: 1rem;
}
.ancho{
  width: 80%;
}
.button{
  height: 50px;
}
h1{
  color: #b711f8;
}
.spinner {
  margin: 0 auto;
}
